.nav-login-love-cart{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    cursor: pointer;
    width: 10%;
  }
  
  .nav-login-love-cart button{
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 75px;
    background-color: rgb(210, 255, 240);
    cursor: pointer;
  
  }
  
  
  .nav-login-love-cart button:active{
    background-color: rgb(189, 224, 213);
  }
  
  .nav-cart-count{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -20px; */
    /* margin-left: -330px; */
    border-radius: 15px;
    font-size: 14px;
    background-color: rgb(159, 255, 207);
    color: rgb(132, 153, 125);
  }